
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

* {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

svg path {
  fill: inherit;
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
}
